<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
        /* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
    </style>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src = "d3-transform.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FieldTrip</title>
</head>

<body>
    <div id="root">
    </div>
</body>

</html>