<!DOCTYPE html>
<html lang="en">

<head>
    <script src="node_modules/lodash/lodash.js"                   type="text/javascript"></script>
    <script src="node_modules/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
        /* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Spartan&display=swap'); */
    </style>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src = "d3-transform.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FieldTrip</title>
</head>

<body>
    <div id="root">
    </div>

</body>

</html>